button {
  padding: 0.5rem;
  background-color: #79bbdd;
  border: 1px solid #111;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 1rem;
}

button:hover {
  background-color: #2265ac;
  transition: 500ms ease-in-out;
}

.button {
  margin-top: 1rem;
}

input {
  font-size: 1rem;
  padding: 0.5rem;
}
