.result {
  padding-top: 2rem;

  li {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
    &:first-child {
      border-top: 1px solid #333;
    }
    &:last-child {
      border-bottom: 1px solid #333;
    }
  }
}

.close {
  &:hover {
    background-color: #e73a33;
  }
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
  line-height: 1rem;
  border: none;
}
