* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: futura, helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
